# redis dev docker-compose.yml

services:
  redis:
    image: redis:latest
    container_name: redis_dev
    profiles: [ 'redis' ]
    restart: unless-stopped
    env_file:
      - ../../.env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./data:/data
    networks:
      - core_network

networks:
  core_network:
    external: true